
$darkgrey: #3b3b3b;
$yellow: #FFDC00;

.sidebar {
    width: 20%;
    height: 100vh;
    background: $darkgrey;
    position: fixed;
    display: flex;
    color: #fff;
    flex-direction: column;
    opacity: 0.7;
    font-weight: 700;
    letter-spacing: 0.11em;

    

    #logo {
        width: 100px;
        height: 100px;
        margin: auto;
        margin-top: 40px;
        background-image: url('../../assets/images/logo.png');
        background-position: center;
        background-size: 120%;

    }

    .icons {
       
        font-size: 0;
    }
    nav {
        min-height: 200px;  
        height: auto;
        margin: auto;
        margin-right: 50px;
        font-size: 1.3rem;
        
        a {
            color: white;
            padding-top: 10px;
            width: 100%;
            display: inline-block;
            text-align: right;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                color: $yellow;
            }

            }
        }
    

    .designer {
        
        width: 100%;
        height: 50px;
        text-align: right;
        font-size: 0.7rem;
        font-weight: 100;
        padding-right: 50px;

    }



    @media only screen and (max-width: 750px) {
        nav a {
            font-size: 0;
            text-align: center;
            width: 100%;
            margin: auto;
            
           
        }

        nav ul {
            margin: auto;
            padding: 0;
        }
    
        nav {
            margin: auto;
        }
        #logo {
            width: 100%;
        }

        .icons {
            visibility: visible;
            color: white;
            font-size: 1.6rem;
            width: 100%;
        }

        span {
            width: 100%;
            height: 30px;
            padding-top:20px;
            padding-bottom: 20px;

            &:hover {
                background: grey;
            }
        }


        

        
        

       
        
    }
}  


