$darkgrey: #3c3b39;
$yellow: #ede06b;

.sidebar {
    width: 20%;
    height: 100vh;
    background: $darkgrey;
    background-image: url('../../assets/images/blueprint.png');
    background-size:350% auto;
    background-repeat: repeat-x;
    position: fixed;
    display: flex;
    color: #fff;
    flex-direction: column;
    font-weight: 700;
    letter-spacing: 0.11em;

    #logo {
        width: 70%;
        height: 200px;
        margin: auto;
        margin-top: 40px;   
    }

    .icons {
        font-size: 0;
    }

    nav {
        min-height: 200px;  
        height: auto;
        margin: auto;
        margin-right: 50px;
        font-size: 1.3rem;
        
        a {
            color: white;
            padding-top: 10px;
            width: 100%;
            display: inline-block;
            text-align: right;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                color: $yellow;
            }

        }
    }

    .designer {
        
        width: 100%;
        height: 50px;
        text-align: right;
        font-size: 0.7rem;
        font-weight: 100;
        padding-right: 50px;

    }

    @media only screen and (max-width: 770px) {
        nav a {
            font-size: 0;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
        }

        nav ul {
            padding: 0; 
        }
    
        nav {
            margin: auto;
            text-align: center;
        }
        #logo {
            width: 100%;
            padding: 5px;
        }

        .icons {
            font-size: 1.8rem;
            width: 100%;
            &:hover {
                color: $yellow;
                
            }
        }

        .designer { 
            text-align: center;
            margin: auto;
            padding: 5px;
        }
    }

}  


